img {
  max-width: 40%;
  height: auto;      
}

.class-cat
{
  display: flex;
}


.loader  {
  display: none;
  font-weight: bold;
  color: #333;
}


 .error {
  display: none;
  font-weight: bold;
  color: #333;
}






/* .breed-select {
  display: block;
} */

/* .cat-info {
  display: none;
} */


